/*============================
=            PAGER           =
============================*/
.GridPager a, .GridPager span {
    display: block;
    height: 23px;
    width: 18px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
}

.GridPager a {
    background-color: #f5f5f5;
    color: #969696;
    border: 1px solid #969696;
}

.GridPager span {
    background-color: #A1DCF2;
    color: #000;
    font-weight: bolder;
    border: 1px solid #3AC0F2;
}
/*=====  End of PAGER  ======*/